[tasks.simulation]
run = "uv run main.py --persona-path {{ persona_path | default(value=\"data/persona/persona.json\") }}{% if seed_post_count is defined %} --seed-post-count {{ seed_post_count }}{% endif %}{% if llm_rounds is defined %} --llm-rounds {{ llm_rounds }}{% endif %} "

[tasks.neo4j-up]
run = "docker compose up neo4j -d"

[tasks.neo4j-down]
run = "docker compose down"

[tasks.neo4j-export]
run = "uv run src/visualization/neo4j_export.py --neo4j-password {{ neo4j_password | default(value=\"neo4j1234\") }}"

[tasks.evaluate]
run = "uv run src/evaluation/main.py"
