version: "3.9"

services:
  neo4j:
    image: neo4j:latest
    container_name: aiagent-neo4j
    restart: unless-stopped
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: "neo4j/neo4j1234"
    volumes:
      - ./data/neo4j/data:/data
      - ./data/neo4j/logs:/logs
      - ./data/neo4j/plugins:/plugins

  neodash:
    image: neo4jlabs/neodash:2.4.11
    platform: linux/amd64
    container_name: aiagent-neodash
    restart: unless-stopped
    ports:
      - "5005:5005"
    environment:
      ssoEnabled: "false"
      standalone: "false"
    depends_on:
      - neo4j
